<div class="row">
    <div class="col-xs-3">
       <div class="panel panel-default">
           <div class="panel-body">
               <p>stats</p>
           </div>
       </div>
		 <div class="panel panel-default">
			 <div class="panel-body">
				 <p>SECOND BOX</p>
			</div>
		 </div>
    </div>
    <div class="col-xs-6">
		 
		 <%= render '/componets/post_form' %><br />
		 <div class="panel panel-default post-panel">
           <div class="panel-body row">
		 <%= render '/componets/post_ad' %>
       		</div>
			</div>
		 
		 
		 <% for @p in @posts %>
		 <div class="panel panel-default post-panel">
           <div class="panel-body row">
				  <div class="col-sm-2">
				  	  <img src="/avitar.png" height="50" width="50"></img>
				  </div>
				  <div class="col-sm-10">
					  <p class="post-title"><%= User.find(@p.user_id).username %></p>
					  <p class="post-content"><%= @p.content %></p>
				  </div>
				  <div class="col-sm-12">  
					  <p class="post-links">LINKS</p>
					 </div>
				 </div>
           
       </div>
		 <% end %>
 		 <div class="panel panel-default post-panel">
            <div class="panel-body row">
 		 <%= render '/componets/post_ad' %>
        		</div>
 			</div>
    </div>
    <div class="col-xs-3">
       <div class="panel panel-default">
           <div class="panel-body">
				
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- responsive -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-5861298621903576"
				     data-ad-slot="6941093750"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				 
				 
           </div>
       </div>
    </div>
</div>